img{
    border-radius: 2em;
}

/* 

NAVIGATION BAR 

 */

.emp-nav{
    height: 3.5em;
    width: 100%;
    border: 1px solid lightgray;
    background: rgb(148, 211, 87);
    display: flex;
    flex-direction: row;
}

#nav-logo{
    text-align: center;
    align-self: center;
    color: rgb(83, 86, 90);
}

.nav-container{
    width: 92%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2em;
}

.nav-profile-avatar{
    width: 8%;
    display: flex;
    justify-content: center;
}

#nav-header-1{
    align-self: center;
    text-align: center;
    margin: 0px;
}

#nav-header-2{
    align-self: center;
    text-align: center;
    margin: 0px;
}

.nav-profile-avatar img{
    height: 50px;
    width: 50px;
    align-self: center;
}

/* 

LOGIN SCREEN

 */

#login-container{
    height: 30em;
    width: 100%;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#login-nav {
   justify-content: center;
}

#login-form{
    align-self: center;
    justify-content: center;
    width: 60%;
}

#status{
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: green;
}

#login-button{
   border-radius: 0px;
   width: 100%;
   background: rgb(148, 211, 87);
   margin-top: 1em;
}

label{
    font-weight: bold;
}

.login-labels{
    margin-bottom: 1px;
    width: 100%;
}

input{
    margin-bottom: 3em;
    width: 100%;
}

input[name="username"]{
    margin-bottom: 1em;
}

#forget-password-link{
    text-align: right;
    display: block;
    color: rgb(148, 211, 87);
}


/* 

ROOMS MENU SCREEN

 */

#rooms-container{
    border: 1px solid lightgray;
    height: 30em;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding-top: 30px;
}

.room-card{
    color: rgb(83, 86, 90);
    margin: 0px 2em;
    margin-bottom: 2em;
    padding: 3%;
    padding-top: 5%;
    background: rgb(148, 211, 87);
    width: 90%;
    height: 5em;
    box-shadow:  3px 3px 3px rgba(0,0,0,0.5);   
    display: flex;
    flex-direction: row;

}

.room-avatar img {
    width: 65px;
    height: 65px;

}

.room-info{
    width: 90%;
    align-self: center;
}

.room-info h3{
    margin: 0px;
    font-size: 1.5em;
    text-decoration: none;
}

.room-info p{
    margin: 0px;
    font-size: 1em;
    text-decoration: none;
}

.room-avatar{
    width: 10%;
    align-self: center;
    margin-bottom: 1em;
}

.room-card:hover{
    text-decoration: unset;
    background: rgb(141, 191, 91);
}

.room-card:link{
    text-decoration: none;
    color: rgb(83, 86, 90);
}

.room-card:visited{
    color: rgb(83, 86, 90);
    text-decoration: none;
}

/* 

Conversation pages

 */

#conversation-container{
    display:grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-rows:8fr 1fr;
    height: 30em;
    width: 100%;
}

#rooms-column{
    border: 1px solid lightgray;
    grid-column:1;
    grid-row:1/end;
}

#chat-column{
    border: 1px solid lightgray;
    grid-column:2;
    grid-row:1;
}

#topics-column{
    border: 1px solid lightgray;
    grid-column:3;
    grid-row:1/2;
}

#message-form{
    border: 1px solid lightgray;
    grid-column:2/end;
    grid-row:2;
    display: flex;
    flex-direction: row;
}

.message-box{
    display: flex;
    flex-direction: row;
}

.message-avatar img{
    width: 40px;
    height: 40px;
}

.message-avatar{
    width: 15%;
    padding: 2%;
}

.message-info{
    width: 85%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.message-author{
    font-weight: bold;
}

.message-timestamp{
    font-style: italic;
    font-size: 0.8em;
    margin-left: 5px;
}

.rooms{
    display: flex;
    flex-direction: row;
    padding: 4%;
    margin: 1%;
    border-bottom: 1px solid lightgray;
    justify-content: center;
}

.rooms:hover{
    background: rgb(141, 191, 91);
}

.rooms img{
    width: 30px;
    height: 30px;
    align-self: center;
    margin: 3%;
}

.rooms p{
    align-self: center;
}

.emp-ptext{
    margin-top: 0px;
    margin-bottom: 0px;
}

.rooms:hover{
    text-decoration: none;
}

#message-textbox{
    padding: 2%;
    margin: 0px;
    height: 100%;
    width: 80%;
}

#message-button{
    height: 100%;
    width: 20%;
    background: rgb(141, 191, 91);
}

#topics-header{
    background: rgb(141, 191, 91);
    height: 3em;
    display: flex;
    justify-content: center;
}

#topics-header-text{
    align-self: center;
    text-align: center;
    padding: 2%;
    margin: 0px;
    font-size: 0.9em;
}

.topics{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3%;
    border-bottom: 1px solid lightgray;
}

.topics-title{
    width: 80%;
}

.topics-checkbox{
    align-self: center;
    width: 20%;
}

.title-p{
    margin:0px;
    margin-right: 4%;
}

input[type=checkbox].css-checkbox {
	position: absolute;
	z-index: -1000;
	left: -1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

input[type=checkbox].css-checkbox+label.css-label {
	padding-left: 35px;
	height: 30px;
	display: inline-block;
	line-height: 30px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 30px;
	vertical-align: middle;
	cursor: pointer;
}

input[type=checkbox].css-checkbox:checked+label.css-label {
	background-position: 0 -30px;
}

label.css-label {
	background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_f60067e68146be412873f96f1d2458cd.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* 

SETTINGS

 */
#settings-container{
    height: 30em;
    border: 1px solid lightgray;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.setting-options{
    align-self: flex-start;
    width: 100%;
    padding: 4%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    border-bottom: 1px solid lightgray;
}

.left-container{
    margin: 0px;
}

.right-container{
    display: flex;
    justify-content: center;
}

.edit-button{
    align-self: center;
    width: 6em;
    background: rgb(141, 191, 91);
}

.options-title{
    font-weight: bolder;
    font-size: 1.1em;
}